body{
            
    background-image: url(car.jpg);
    background-size: cover ;
}       
div{
    position: relative;
   width: 25%;
   margin-left: 30%;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size:x-small;
   font-weight: bolder;
   display: flex;
   flex-direction: column;
   box-shadow: 40px 40px 40px black;
   margin-left: 20px;
   margin-top: 20px;
    margin-right: 10px;
}
input{
    width: 250px;
    height: 30px;
    border: 3px solid black;
    border-radius: 50px;
    
}
button{
    width:100px;
    height:40px;
    border:3px solid green;
    background-color:green;
    color:white;
    border:white;
}
